<header>


</header>

<div class="nav-wrapper">
  <div class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="{{ site.basepath }}">Home</a></li>
            <li class="nav-link"><a href="{{ site.basepath }}about">About</a></li>
            <li class="nav-link"><a href="{{ site.basepath }}blog">Blog</a></li>
            <li class="nav-link"><a href="{{ site.basepath }}photos">Photos</a></li>
            <li class="nav-link"><a href="{{ site.basepath }}contact">Contact</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>

