body {
  color: $textblue;
  line-height: $base-line-height;
  /*background-color: $dark-gray;*/
  background-color: #000;
}


pre {
  line-height: 1.6em;
}

.wrapper {
  @include outer-container;
  @include border-style(solid);
  @include border-width(0 0px);
  @include border-color(#423838);
}

header {
  @include clearfix;
  background-color: #000;
  background-image: url('../images/header-transparent.png');
  background-repeat: no-repeat;
  height: 120px;

  .wrapper {
    @include outer-container;
    padding: 0.5em 1em;
  }

  h1 {
    color: #fff;
    font-family: "Verdana", "Helvetica", sans-serif;
    font-weight: 100;
    line-height: $base-line-height;
    margin: 0;
  }
  h1 > a { 
  }

  p { 
    padding: 0;
    margin: 0;
    color: #999;
    font-size: 1.4em;
  }
}

.nav-wrapper {
  padding: 0 17px;
  background: #777;
}

section { 
  @include clearfix;
  padding: 0.5em 1em;
  text-align: left;

  &.main-content {
    @include outer-container;
    @include span-columns(12);
    background-color: white;
    min-height: 20em;

    div {
      
      //height: 100%;
    }
  }
}

article {
}

footer {
  @include outer-container;
  padding: 0.5em 0em;
  display: block;
  clear: both;
  
  .footer-content {
    background-color: $light-gray;
    
    p { font-size: .8em;  text-align: center; }
  }
}

/* ************ PAGE STYLES *********** */
.blog-home-content {
  @include span-columns(8);

}

.blog-home-sidebar {
  @include span-columns(4);
}

.blog-home-blurbs {
  h2 {
    color: blue;
  }

  .read-more {
    float: right;
  }

}
.blog-home-blurbs h2 {
  font-size: 1.6em;
}
.blog-home-blurbs h2 > a {
  color: $headingcolor;
}

